name: Backup {{ github.event.inputs.server }}

on:
    workflow_dispatch:
        inputs:
            server:
                description: Define server that a job should run on
                required: true
                default: hy0001

env:
    UNY_AUTO_PAT: ${{ secrets.UNY_AUTO_PAT }}
    GH_TOKEN: ${{ secrets.UNY_AUTO_PAT }}
    BAK_SSH_KEY: ${{ secrets.BAK_SSH_KEY }}
    RCLONE_CONFIG: ${{ secrets.RCLONE_CONFIG }}
    HOSTYON_PASSPHRASE: ${{ secrets.HOSTYON_PASSPHRASE }}

jobs:
    backup:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Save variables to files
              run: |
                  echo "$UNY_AUTO_PAT" >UNY_AUTO_PAT
                  echo "$GH_TOKEN" >GH_TOKEN
                  echo "$BAK_SSH_KEY" >BAK_SSH_KEY
                  echo "$RCLONE_CONFIG" >RCLONE_CONFIG
                  echo "$GITHUB_REPOSITORY" >GITHUB_REPOSITORY
                  echo "$HOSTYON_PASSPHRASE" >HOSTYON_PASSPHRASE
            - name: Run backup script
              run: |
                  chmod +x backup.bash
                  sudo ./backup.bash ${{ github.event.inputs.server }}
