name: Refresh rclone tokens

on:
    workflow_dispatch:
    schedule:
        - cron: "15 8 */2 * *"

env:
    RCLONE_CONFIG: ${{ secrets.RCLONE_CONFIG }}
    GH_TOKEN: ${{ secrets.UNY_AUTO_PAT }}

jobs:
    refresh-rclone-tokens:
        runs-on: ubuntu-latest
        steps:
            - name: Save rclone conf and keep the token fresh
              run: |
                  ### Install rclone
                  DEBIAN_FRONTEND=noninteractive sudo apt-get install -y rclone

                  ### Setup config for rclone
                  sudo mkdir -p /root/.config/rclone
                  sudo bash -c "echo '$RCLONE_CONFIG' >/root/.config/rclone/rclone.conf"

                  ### Refresh the rclone OneDrive token
                  if sudo bash -c "rclone lsd OneDrive-m:/ >/dev/null"; then 
                      echo "rclone successfully used and token refreshed!"
                  else
                      echo "rclone run failed! Token not refreshed! Aborting."
                      exit 1
                  fi

                  ### Update the secret with the newly rotated token
                  owner="$(echo "$GITHUB_REPOSITORY" | grep -o "^[^/]*")"
                  gh secret set RCLONE_CONFIG --org "$owner" --visibility public --body "$(sudo bash -c "cat /root/.config/rclone/rclone.conf")"
                  echo "Current expiry values:"
                  sudo grep -o "\"expiry\":[^}]*" /root/.config/rclone/rclone.conf
