name: Test

on: workflow_dispatch

env:
  UNY_AUTO_PAT: ${{ secrets.UNY_AUTO_PAT }}
  GH_TOKEN: ${{ secrets.UNY_AUTO_PAT }}
  BAK_SSH_KEY: ${{ secrets.BAK_SSH_KEY }}
  RCLONE_ONEDRIVE_M: ${{ secrets.RCLONE_ONEDRIVE_M }}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Save variables to files
        run: |
          echo "$UNY_AUTO_PAT" >UNY_AUTO_PAT
          echo "$GH_TOKEN" >GH_TOKEN
          echo "$BAK_SSH_KEY" >BAK_SSH_KEY
          echo "$RCLONE_ONEDRIVE_M" >RCLONE_ONEDRIVE_M
          echo "$GITHUB_REPOSITORY" >GITHUB_REPOSITORY
      - name: Run backup script
        run: |
          chmod +x test.bash
          sudo ./test.bash
